.jh-time-picker {
    overflow: hidden;
}
.jh-svg-container {
    margin: auto;
    cursor: crosshair;
}
.jh-tooltip-container {
    position: absolute;
    background-color: white;
}
.jh-toggle-button-container {
    float: right;
}
.jh-am-pm-button-container {
    float: left;
}
.hour-label {
    font-size: 16px;
}
/* See: http://stackoverflow.com/questions/12540436/height-of-parent-div-is-zero-even-if-it-has-child-with-finite-heights */
.jh-button-container:after {
    content: " ";
    display: block;
    clear: both;
}