.jh-svg-container {
    margin: auto;
    cursor: crosshair;
}
.jh-tooltip-container {
    position: absolute;
    background-color: white;
}
.jh-button-container {
    overflow: auto;
    margin: 5px;
}
.jh-toggle-button-container {
    float: right;
}
.jh-am-pm-button-container {
    float: left;
}
.hour-label {
    font-size: 24px;
}